pyttsx3==2.90
winshell==0.6
pyjokes==0.6.0
wmi==1.5.1
wikipedia==1.4.0
beautifulsoup4==4.12.2
SpeechRecognition==3.10.0
wolframalpha==5.0.0
pyautogui==0.9.54
pandas==2.1.4
nltk==3.8.1
pywinauto==0.6.8
geocoder==1.38.1
requests==2.31.0
